{% extends "base.html" %}
{% block content %}
			<div class='row'>
				<div class='col-md-12'>
					<div class='maincontent'>
						<div class='mainheading'>
							<h4>Personal details</h4>
						</div>
				<form class="form-horizontal" method='post' action='/home' enctype="multipart/form-data" style='margin-top:30px'>{% csrf_token %}
				<div class="col-md-6 form-group">
    				<label for="inputEmail3" class="col-sm-5 control-label">First Name</label>
    				<div class="col-sm-5">
    					{{ form1.first_name }}
   					</div></div>
   					<div class="col-md-6 form-group">
    				<label for="inputEmail3" class="col-sm-5 control-label">Last Name</label>
    				<div class="col-sm-5">
    					{{ form1.last_name }}
   					</div></div>
   					<div class="col-md-6 form-group">
    				<label for="inputEmail3" class="col-sm-5 control-label">Email</label>
    				<div class="col-sm-5">
    					{{ form1.email }}
   					</div></div>
   					<div class="col-md-6 form-group">
    				<label for="inputEmail3" class="col-sm-5 control-label">Place</label>
    				<div class="col-sm-5">
    					{{ form2.place }}
   					</div></div>
            <div class='clearfix' style='border-bottom:2px solid #FAD163; width:100%; margin-bottom:20px'></div>

   					<div class="col-md-6 form-group">
    				<label for="inputEmail3" class="col-sm-5 control-label">Gender</label>
    				<div class="col-sm-5" style='display:block !important'>
    					{{ form2.gender }}
   					</div></div>
   					<div class="col-md-6 form-group">
    				<label for="inputEmail3" class="col-sm-2 control-label">Status</label>
    				<div class="col-sm-5">
    					{{ form2.status }}
   					</div></div>
   					<div class="col-md-6 form-group">
    				<label for="id_dob" class="col-sm-2 control-label">DOB</label>
    				<div class="col-sm-5" style='display:block !important'>
    					{{ form2.dob }}
   					</div></div>
            <div class='clearfix' style='border-bottom:2px solid #FAD163; width:100%; margin-bottom:20px'></div>
					<div class="form-group">
    					<div class="col-sm-offset-2 col-sm-10">
      						<button type="submit" class="btn btn-default" style='margin-left:466px'>ok</button>
    					</div>
  					</div>
            {{form1.errors}}
            {{form2.errors}}
            
            <div class='clearfix' style='border-bottom:2px solid #FAD163; width:100%; margin-bottom:20px'></div>
  					</form>
				</div>
			</div>
</div>
<script>
  $(function() {
  	console.log('fine');
    $( "#id_dob" ).datepicker();
  });
  </script>
{% endblock %}

