<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sparkhrm</title>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<link rel="stylesheet" href="/static/css/style.css">
		<script src="http://code.jquery.com/jquery-1.11.3.min.js" ></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

</head>
	<body>
		<div class='fd'>
			<img src="{{STATIC_URL}}images/orangehrm.png" border="2" width="266" style="float:left";height="67"  />
			<div class='bar'>

		</div>
		</div>
		<div class='top-menu'>
		{% block content %}{% endblock %}
		</div>